.Boton1{
  position: absolute;
  top: 470px;
  left: 540px;
  background-color:white;
  height: 60px;
  width: 300px;
  color: #E29B6A;
  border-radius: 50px;
  font-size: 20px;
  font-family: 'Satisfy', cursive;
  padding-left: 15px;
  border: solid 5px;
}
.Boton1:hover{
  position: absolute;
  background-color:#E29B6A ;
  display: block;
  height: 60px;
  width: 300px;
  font-size: 20px;
  color: white;
}

.Boton2{
  position: absolute;
  top: 550px;
  left: 540px;
  background-color:white;
  height: 60px;
  width: 300px;
  color: #E29B6A;
  border-radius: 50px;
  font-size: 20px;
  font-family: 'Satisfy', cursive;
  padding-left: 15px;
  border: solid 5px;
}
.Boton2:hover{
  position: absolute;
  background-color:#E29B6A ;
  display: block;
  height: 60px;
  width: 300px;
  font-size: 20px;
  color: white;
}
.Boton3{
  position: absolute;
  top: 640px;
  left: 540px;
  background-color:white;
  height: 60px;
  width: 300px;
  color:#E29B6A;
  border-radius: 50px;
  font-size: 20px;
  font-family: 'Satisfy', cursive;
  padding-left: 15px;
  border: solid 5px;
}
.Boton3:hover{
  position: absolute;
  background-color:#E29B6A ;
  display: block;
  height: 60px;
  width: 300px;
  font-size: 20px;
  color: white;
}

.Boton4{
  position: absolute;
  top: 720px;
  left: 540px;
  background-color:white;
  height: 60px;
  width: 300px;
  color: #E29B6A;
  border-radius: 50px;
  font-size: 20px;
  font-family: 'Satisfy', cursive;
  padding-left: 15px;
  border: solid 5px;
}
.Boton4:hover{
  position: absolute;
  background-color:#E29B6A ;
  display: block;
  height: 60px;
  width: 300px;
  font-size: 20px;
  color: white;
}