.Boton1{
  position: absolute;
  top: 490px;
  left: 310px;
  background-color:white;
  height: 60px;
  width: 300px;
  color: #E29B6A;
  border-radius: 50px;
  font-size: 25px;
  font-family: 'Satisfy', cursive;
  padding-left: 15px;
  border: solid 5px;
  text-decoration: none;
  padding-top: 10px;
}
.Boton1:hover{
  position: absolute;
  background-color:#E29B6A ;
  display: block;
  height: 60px;
  width: 300px;
  font-size: 25px;
  color: white;
}

.Boton2{
  position: absolute;
  top: 490px;
  left: 700px;
  background-color:white;
  height: 60px;
  width: 300px;
  color: #E29B6A;
  border-radius: 50px;
  font-size: 25px;
  font-family: 'Satisfy', cursive;
  padding-left: 15px;
  border: solid 5px;
  text-decoration: none;
  padding-top: 10px;
}
.Boton2:hover{
  position: absolute;
  background-color:#E29B6A ;
  display: block;
  height: 60px;
  width: 300px;
  font-size: 25px;
  color: white;
}
.Boton3{
  position: absolute;
  top: 700px;
  left: 310px;
  background-color:white;
  height: 60px;
  width: 300px;
  color:#E29B6A;
  border-radius: 50px;
  font-size: 25px;
  font-family: 'Satisfy', cursive;
  padding-left: 15px;
  border: solid 5px;
  text-decoration: none;
  padding-top: 10px;
}
.Boton3:hover{
  position: absolute;
  background-color:#E29B6A ;
  display: block;
  height: 60px;
  width: 300px;
  font-size: 25px;
  color: white;
   text-decoration: none;
  padding-top: 10px;
}

.Boton4{
  position: absolute;
  top: 700px;
  left: 700px;
  background-color:white;
  height: 60px;
  width: 300px;
  color: #E29B6A;
  border-radius: 50px;
  font-size: 25px;
  font-family: 'Satisfy', cursive;
  padding-left: 15px;
  border: solid 5px;
  text-decoration: none;
  padding-top: 10px;
}
.Boton4:hover{
  position: absolute;
  background-color:#E29B6A ;
  display: block;
  height: 60px;
  width: 300px;
  font-size: 25px;
  color: white;
}
