body{ background:-webkit-linear-gradient(20deg, #FFFAAF 10%, white  90%);}
.t{
  position: absolute;
  top: 40px;
  left: 610px;
  font-size: 30px;
  font-family: 'Shadows Into Light Two', cursive;
}	
.ft{
  position: absolute;
  top: 80px;
  left: 525px;
  height: 10px;
  width: 300px;
  background: #FF9462;
  border-radius: 20px;
  opacity:40%;
}
.algo1{
  position: absolute;
  top: 140px;
  left: 100px;
}
.algo2{
  position: absolute;
  top: 530px;
  left: 100px;
}
.algo3{
  position: absolute;
  top: 920px;
  left: 100px;
}
.algo4{
  position: absolute;
  top: 1315px;
  left: 100px;
}
.algo5{
  position: absolute;
  top: 1710px;
  left: 100px;
}
.algo6{
  position: absolute;
  top: 2090px;
  left: 100px;
}
.algo7{
  position: absolute;
  top: 2160px;
  left: 100px;
}
.fun{
  position: absolute;
  top: 2200px;
  left: 550px;
  font-size: 30px;
  font-family: 'Shadows Into Light Two', cursive;
  color: #FF9462;
}
.funcionamiento{
  position: absolute;
  top: 2300px;
  left: 200px;
}
.fun2{
  position: absolute;
  top: 2500px;
  left: 195px;
}
.fun3{
  position: absolute;
  top: 2550px;
  left: 200px;
}
.fun4{
  position: absolute;
  top: 3120px;
  left: 200px;
}
.funi{
  position: absolute;
  top: 3850px;
  left: 240px;
  font-size: 25px;
  font-family: 'Shadows Into Light Two', cursive;
  color: #FF9462;
}
.fun5{
 position: absolute;
  top: 4030px;
  left: 200px;
}
.fun5{
 position: absolute;
  top: 4000px;
  left: 200px;
}
.fun6{
  position: absolute;
  top: 4250px;
  left: 200px;
}
.fun7{
  position: absolute;
  top: 4500px;
  left: 190px;
}
.fun8{
  position: absolute;
  top: 4760px;
  left: 190px;
}
.funi2{
  position: absolute;
  top: 5500px;
  left: 450px;
  font-size: 25px;
  font-family: 'Shadows Into Light Two', cursive;
  color: #FF9462;
}
.fun9{
 position: absolute;
  top: 5590px;
  left: 190px;
}
.fun10{
 position: absolute;
  top: 5690px;
  left: 200px;
}
.opinion{
  position: absolute;
  top: 6070px;
  left: 550px;
  font-size: 25px;
  font-family: 'Shadows Into Light Two', cursive;
  color: #FF9462;
}
.opiniond{
  position: absolute;
  top: 6100px;
  left: 50px;
  font-size: 25px;
  font-family: 'Shadows Into Light Two', cursive;
}